@import "libs/_reset.scss";


body
{
   
    header
    {
        menu
        {
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            padding: 0.5rem;
            
            div{
                
                display: flex;
                align-items: center;
                
                p
                {
                    margin-left: 1rem;
                    margin-right: 0.25rem;
                    font-size: 2.5vw;
                }
                input{
                    width: 10vw;
                }
                #penBtn{
                    color: green;
                    font-size: 1.5rem;
                }
                #fillBtn{
                    color: blue;
                    font-size: 1.5rem;
                }
                #deleteBtn{
                    color: red;
                    font-size: 1.5rem;
                }
                #penBtn:hover,
                #fillBtn:hover,
                #deleteBtn:hover{
                    cursor: pointer;
                }
            }
            
        }
    }
    #scene
    {
        display:grid;
        grid-template: repeat(10, 1fr) / repeat(10,1fr);
        div{
            background-color: #fff;
        }
    }
    
}

.gomme{
    cursor: url("gomme.png"), auto;
}