@import "libs/_reset.scss";


body
{
   
    header
    {
        menu
        {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            p
            {
                margin: 1rem;
                font-size: 2rem;
            }
            div{
                display: flex;
                align-items: center;
                #deleteBtn{
                    color: red;
                    font-size: 2rem;
                }
                #deleteBtn:hover{
                    cursor: pointer;
                    
                }
            }
            
        }
    }
    #scene
    {
        display:grid;
        grid-template: repeat(10, 1fr) / repeat(10,1fr);
        div{
            background-color: #fff;
        }
    }
    
}

.gomme{
    cursor: url("gomme.png"), auto;
}